{
    "openapi": "3.0.0",
    "info": {
        "title": "Frappe Cloud API",
        "description": "API documentation for Frappe Cloud",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://frappecloud.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/api/method/press.api.site.new": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "site": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "site"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.jobs": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": ""
                                    },
                                    "order_by": {
                                        "type": ""
                                    },
                                    "limit_start": {
                                        "type": ""
                                    },
                                    "limit_page_length": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "filters",
                                    "order_by",
                                    "limit_start",
                                    "limit_page_length"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.job": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "job": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "job"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.running_jobs": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.backups": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_backup_link": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "backup": {
                                        "type": ""
                                    },
                                    "file": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "backup",
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.domains": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.activities": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": ""
                                    },
                                    "order_by": {
                                        "type": ""
                                    },
                                    "limit_start": {
                                        "type": ""
                                    },
                                    "limit_page_length": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "filters",
                                    "order_by",
                                    "limit_start",
                                    "limit_page_length"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.app_details_for_new_public_site": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.options_for_new": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "for_bench": {
                                        "type": "str"
                                    }
                                },
                                "required": [
                                    "for_bench"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_domain": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_new_site_options": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "group": {
                                        "type": "str"
                                    }
                                },
                                "required": [
                                    "group"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_site_plans": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_plans": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "rg": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "rg"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.all": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "site_filter": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "site_filter"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.site_tags": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.check_for_updates": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.installed_apps": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.available_apps": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.current_plan": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_plan": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "plan": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "plan"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_auto_update": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "auto_update_enabled": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "auto_update_enabled"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.deactivate": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.activate": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.login": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "reason": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "reason"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.update": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    },
                                    "skip_backups": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "skip_failing_patches",
                                    "skip_backups"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.last_migrate_failed": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.backup": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "with_files": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "with_files"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.archive": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "force": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "force"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.reinstall": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.migrate": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "skip_failing_patches"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.clear_cache": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.restore": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "files": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "files",
                                    "skip_failing_patches"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.exists": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subdomain": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "subdomain",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.setup_wizard_complete": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.check_dns": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.domain_exists": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.add_domain": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.remove_domain": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.retry_add_domain": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.set_host_name": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.set_redirect": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.unset_redirect": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "domain": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.install_app": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "app": {
                                        "type": ""
                                    },
                                    "plan": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "app",
                                    "plan"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.uninstall_app": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "app": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "app"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.logs": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.log": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "log": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "log"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.site_config": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.update_config": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "config": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "config"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_upload_link": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": ""
                                    },
                                    "parts": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "file",
                                    "parts"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.multipart_exit": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": ""
                                    },
                                    "id": {
                                        "type": ""
                                    },
                                    "action": {
                                        "type": ""
                                    },
                                    "parts": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "file",
                                    "id",
                                    "action",
                                    "parts"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.uploaded_backup_info": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": ""
                                    },
                                    "path": {
                                        "type": ""
                                    },
                                    "type": {
                                        "type": ""
                                    },
                                    "size": {
                                        "type": ""
                                    },
                                    "url": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "file",
                                    "path",
                                    "type",
                                    "size",
                                    "url"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_backup_links": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": ""
                                    },
                                    "email": {
                                        "type": ""
                                    },
                                    "password": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "url",
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.enable_auto_update": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.disable_auto_update": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_auto_update_info": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.update_auto_update_info": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "info": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "info"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_database_access_info": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.enable_database_access": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "mode": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "mode"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.disable_database_access": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_job_status": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "job_name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "job_name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_notify_email": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "email": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "email"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.send_change_team_request": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "team_mail_id": {
                                        "type": ""
                                    },
                                    "reason": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "team_mail_id",
                                    "reason"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.confirm_site_transfer": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.add_server_to_release_group": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "group_name": {
                                        "type": ""
                                    },
                                    "server": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "group_name",
                                    "server"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.validate_group_for_upgrade": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "group_name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "group_name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_group_options": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.clone_group": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "str"
                                    },
                                    "new_group_title": {
                                        "type": "str"
                                    },
                                    "server": {
                                        "type": "str"
                                    }
                                },
                                "required": [
                                    "name",
                                    "new_group_title",
                                    "server"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_group": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "group": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "group",
                                    "skip_failing_patches"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_region_options": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_region": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "cluster": {
                                        "type": ""
                                    },
                                    "scheduled_datetime": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "cluster",
                                    "scheduled_datetime",
                                    "skip_failing_patches"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_private_groups_for_upgrade": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "version": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "version"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.version_upgrade": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "destination_group": {
                                        "type": ""
                                    },
                                    "scheduled_datetime": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "destination_group",
                                    "scheduled_datetime",
                                    "skip_failing_patches"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_server_options": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.is_server_added_in_group": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "server": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "server"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.change_server": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "server": {
                                        "type": ""
                                    },
                                    "scheduled_datetime": {
                                        "type": ""
                                    },
                                    "skip_failing_patches": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "server",
                                    "scheduled_datetime",
                                    "skip_failing_patches"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.site.get_site_config_standard_keys": {
            "post": {
                "tags": [
                    "press.api.site"
                ],
                "description": "",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.payment.all": {
            "post": {
                "tags": [
                    "press.api.payment"
                ],
                "description": "",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.cookies.update_preferences": {
            "post": {
                "tags": [
                    "press.api.cookies"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "preferences": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "preferences"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.dboptimize.mariadb_analyze_query": {
            "post": {
                "tags": [
                    "press.api.dboptimize"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "row": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "row"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.dboptimize.get_status_of_mariadb_analyze_query": {
            "post": {
                "tags": [
                    "press.api.dboptimize"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "query": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "query"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.dboptimize.mariadb_analyze_query_already_running_for_site": {
            "post": {
                "tags": [
                    "press.api.dboptimize"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/api/method/press.api.dboptimize.get_suggested_index": {
            "post": {
                "tags": [
                    "press.api.dboptimize"
                ],
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": ""
                                    },
                                    "normalized_query": {
                                        "type": ""
                                    }
                                },
                                "required": [
                                    "name",
                                    "normalized_query"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
[...]
